<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
    </li>
  <% end %>
</ul>

<form action='/delete_bookmark' method='get'>
  <input type="submit" name="Delete a bookmark" value ="Delete a bookmark">
</form>

<form action='/update_bookmark' method='get'>
  <input type="submit" name="Update a bookmark" value ="Update a bookmark">
</form>
